<div class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Commande</h4>
        </div>
        <div class="panel-body">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <p ng-if="ctrl.cartIsEmpty(ctrl.cartItems)">Votre selection est vide</p>
                <!-- 1 produit -->
                <!--<pre>{{ ctrl.cartItems | json }}</pre>-->
                <div ng-if="!ctrl.cartIsEmpty(ctrl.cartItems)" ng-repeat="item in ctrl.cartItems" class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                {{ item.nb_selected }} x {{ item.name }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul>
                                <li ng-if="item.composition" ng-repeat="subItem in item.composition">1 x {{ subItem.name }}</li>
                                <li ng-if="!item.composition"> {{ item.nb_selected }} x {{ item.name }}</li>
                            </ul> 
                        </div>
                    </div>
                </div>
                
            </div>
        </div><!-- end panel body -->
        <div class="panel-footer">
            TOTAL <span class="pull-right">{{ ctrl.totalPrice }}€</span>
        </div>
    </div> 
    <button class="btn btn-lg btn-warning btn-block" ng-disabled="ctrl.cartIsEmpty(ctrl.cartItems)" ng-click="ctrl.purchasseOrder()">PAYER</button>
    
</div>